@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 14% 96%;
    --foreground: 224 71% 4%;

    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;

    --primary: 91 60% 63%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14% 96%;
    --secondary-foreground: 221 39% 11%;

    --muted: 90 58% 93%;
    --muted-foreground: 220 9% 46%;

    --accent: 220 14% 92%;
    --accent-foreground: 221 39% 11%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 20% 98%;

    --success: 122 39% 49%;
    --success-foreground: 210 40% 98%;

    --warning: 40 100% 50%;
    --warning-foreground: 210 40% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 91 75% 63%;

    --radius: 0.75rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --chart-6: 168, 76%, 36%;
    --chart-7: 150, 52%, 51%;
    --chart-8: 91, 75%, 63%;
  }

  .dark {
    --background: 224 5% 8%;
    --foreground: 210 20% 98%;

    --card: 215 7% 9%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 210 20% 98%;

    --primary: 91 75% 63%;
    --primary-foreground: 210 20% 98%;

    --secondary: 215 28% 17%;
    --secondary-foreground: 210 20% 98%;

    --muted: 108 8% 12%;
    --muted-foreground: 218 11% 65%;

    --accent: 215 7% 14%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62% 30%;
    --destructive-foreground: 210 40% 98%;

    --success: 122 39% 49%;
    --success-foreground: 210 40% 98%;

    --warning: 40 100% 50%;
    --warning-foreground: 210 40% 98%;

    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 91 75% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
